.parent{
    background-color:rgb(29,29,29,255);
    display: flex;
    justify-content: space-between;
}

.text1{
font-family: Inter;
font-size: 54px;
font-weight: 600;
line-height: 87px;
letter-spacing: 0em;
 margin-left: 153px;
 text-align: left;
 width: 1200px;
 margin-top: 150px;
}

.line{
 margin-top: 110px;
 margin-bottom: 100px;
}

.child2{
    margin: 150px;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    margin-right:153px ;
    margin-left: 100px;
 .para{
    font-family: Inter;
font-size: 18px;
font-weight: 500;
line-height: 29px;
letter-spacing: 0em;
text-align: left;
 }
}

.text2{
    font-family: Inter;
font-size: 32px;
font-weight: 600;
line-height: 52px;
letter-spacing: 0em;
margin-right: 153px;
text-align: left;
}

